@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');

*{
   padding:0;
   margin:0;
   box-sizing:border-box;
   outline:0;
}

body{
   font-family: 'Roboto', sans-serif;
   background-image: linear-gradient( to right top, 
	 rgba(156, 39, 176,0.9), 
	 rgba(103, 58, 183,0.9)) ,
	url('image.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   color: #fff;
   
   padding: 50px;
}

h1{
   text-align: center;
   margin-bottom: 60px;
   text-transform: uppercase;
}

.container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: auto;
   height:100vh;
}

#form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 50px;
}

#form input{
   width: 290px;
   height: 40px;
   padding: 20px;
   border-radius: 10px;
   border: 1px solid #11b5e4;
   font-size: 20px;
   margin-bottom: 10px;
   background: transparent;
   color: #f5f5f5;
}

/*
#form input::placeholder{
   color:#f5f5f5;
}
*/

.add-item{
   width: 290px;
   height: 40px;
   padding: 20px;
   border-radius: 10px;
   background-color: #11b5e4;
   color: #fff;
   border: none;
   font-size: 19px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   transition: all .5 ease;
}

.check{
   text-decoration: line-through;
}

.list-items{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.list-item{
   display: flex;
   align-items: center;
   width: 400px;
   border: 1px solid #11b5e4;
   border-radius: 10px;
   padding: 12px;
   margin-bottom: 20px;
}

.btns{
   margin-left: auto;
}

.btns i{
   color: #f5f5f5;
   margin-left: 5px;
   cursor: pointer;
   transition: .2s all ease-in-out;
}

.btns i:hover{
   transform: scale(1.2);
}

.clear-items{
   border-radius: 10px;
   padding: 12px;
   background: #11b5e4;
   color: #f5f5f5;
   font-size: 17px;
   border:none;
   cursor: pointer;
}

